.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler,
.page-sidebar .sidebar-toggler {
    background: #3a4656 url("../img/sidebar_toggler_icon_default.png") no-repeat scroll 7px 7px;
}

.sidebar-toggler-container {
    width: 30px !important;
    border-radius: 4px;
    /*margin: 10px 0 0 92px;*/
    margin: 10px 0 0 153px;
}

.page-sidebar-closed .sidebar-toggler-container {
    margin-left: 9px !important;
    width: 30px !important;
}

.page-sidebar .sidebar-toggler:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler:hover {
    filter: alpha(opacity=100);
    background: #24303E url("../img/sidebar_toggler_icon_default.png") no-repeat scroll 7px 7px;
    opacity: 1;
}

.sidebar-toggler-container .sidebar-toggler {
    float: right; margin-top: 0; margin-right: 0;
}

.aws-thead-float > .table-bordered {
    border-bottom: 1px solid #ddd !important;
}
.control-label {
    font-weight: bold;
}
.btn-reprt {
    border-radius: 2px;
    border-width: 0 !important;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    padding: 5px 14px 3px;
    position: relative;
    text-transform: uppercase;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.btn-primary, .btn-danger, .btn-success {
    min-width: 140px;
    padding: 5px;
    text-transform: uppercase;
}
.item-coditions {
    width:170px;
    margin-left: 4px;
    margin-right: 4px;
}
.item-small-view .item-6 .btn, .item-small-view .item-7 .btn, .item-small-view .item-8 .btn, .item-small-view .item-9 .btn, .item-small-view .item-10 .btn, .item-small-view .item-11 .btn,.item-small-view .item-12 .btn,.item-small-view .item-13 .btn {
    padding-top:3px;
    padding-bottom:3px;
}
.sensor-report {
    border: 1px solid #ddd;
    margin-top: 15px;
    padding: 5px;
}
.error-hightlight {
    color: red;
}
.left-content-mobule {
    /*background:url(../images/bg.jpg) no-repeat 0 0;*/
    background-color:#fff;
    height:510px;
    position:relative;
    display:inline-block;
    /*border:1px solid #f8a21e;*/
    width:585px;
}

.left-content-mobule p{
    margin:0px 0;
    font-weight:bold;
}
.environment {
    left: 480px;
    border: 2px solid;
    border-color: #f7c75b !important; 
    border-radius: 20px;
    padding: 7px;
}

.flag {
    position: absolute;
    right: 0px;
    top: 13px;
}
.flag-banner {
    position: absolute;
    right: 0px;
    top: 117px;
}

@media (max-width: 440px) {
    .info-diagram, .diagram, .output-mode-view {
        overflow-x: auto;
        text-align: center;
    }
    .control-main-full {
        display: inline-block !important;
    }
    .header .header-left {
        float: left;
        background: #3e8ba5;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 59px;
        height: 59px;
        line-height: 59px;
    }
    .header .header-left .logo img {
        height: 58px;
        width: 58px;
    }
    .header .banner .banner-image {
        background-color: #756fb0;
        text-align: right;
        height: 59px;
    }
    .header .header-left .logo {
        display: inline-block;
        vertical-align: middle;
        height: 57px;
        width: 57px;
        overflow: hidden;
        border-radius: 50px;
        line-height: 0;
    }
    .bottom-menu, .banner-menu {
        display: none;
    }
    .diagram {
        overflow-x: auto;
    }
    .grid-view {
        overflow-x: auto;
    }
    .hasDatepicker {
        width: 100px;
    }
    .btn-primary, .btn-danger, .btn-success {
        min-width: 80px;
    }
    button, input, select, textarea {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .flag-banner {
        top: 26px;
    }
    .flag {
        top: 12px;
    }
    .flag img {
        height: 22px;
        width: 33px;
    }
    .page-header.navbar .page-logo > .logo-image, .page-header.navbar .page-logo > a img {
        display: none;
    }
}
.page-header {
    background: url('../images/banner.jpg') no-repeat 0 0;
}
.distric-index {
    margin-top: 25px;
}
.distric-index .summary {
    display: none;
}
.table-striped tr th {
    font-weight: bold;
}

